

.title-text{
}
#dan-img{
    height: 90vw;
    width: auto;
}
.img-container{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
}
.body-text-container{
    text-align: left;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}
.body-text-container p{
    width: 40%;
}