#dan-img{
    height: auto;
    border-radius: 20px;
    width: 60vw;
}
.img-container{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    
}
.body-text-container{
    text-align: left;
    text-wrap: balance;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body-text-container p{
    width: 60vw;
}