@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root{
  --color-brand-primary: #D9C27E ;
  --color-brand-secondary: #68828C;
  --color-brand-tertiary: #D9D0C7;
  --font-type-a: "Kalam", sans-serif;
  --font-type-b: "Noto Sans KR", sans-serif;
  --header-font-size: ;
  --subheader-font-size: ;
  --paragraph-font-size: ;
  --mobile-font-header: 6rem;
  --mobile-font-subheader: 1.5rem;
  --mobile-font-paragraph: ;
  --main-container-height: 100vh;
  --main-container-width: 100vw;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 16px;
}
body{
  background-color: var(--color-brand-tertiary);
}
.main-container{
  height: var(--main-container-height);
}
.nav-bar-container{
  height: 7vh;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-brand-tertiary);
  display: grid;
  grid-gap: 1rem;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr auto;
  font-family: 'Times New Roman', Times, serif;
}
.nav-bar-container button{
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.2rem;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  width: 25vw;
  color: var(--color-brand-secondary);
  font-weight: 900;
  font-family: var(--font-type-b);
}
.nav-bar-container button:active{
  box-shadow: none;
  background-color: var(--color-brand-secondary);
  color: var(--color-brand-tertiary);
}
.page-content-container{
  height: calc(100vh - 7vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--color-brand-primary);
}

.page-content-container h1{
  font-size: var(--mobile-font-header);
  color: var(--color-brand-tertiary);
  font-family: var(--font-type-a);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
  line-height: 12vh;  
}
.page-content-container :nth-child(2){
  font-size: 9rem;
  color: var(--color-brand-secondary);
}
.page-content-container h2{
  font-family: var(--font-type-b);
  font-size: var(--mobile-font-subheader);
  color: #1F1C33;
  font-weight: 800;
}

#popup-menu{
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-brand-tertiary);
  z-index: 1;
  padding-left: 1rem;
  padding-right: 1rem;
}
#exit-btn{
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--color-brand-secondary);
}
#popup-menu ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  list-style: none;

}
#popup-menu a{
  text-decoration: none;
  font-family: var(--font-type-b);
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--color-brand-secondary);
}
