@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root {
  --color-brand-primary: #D9C27E;
  --color-brand-secondary: #68828C;
  --color-brand-tertiary: #D9D0C7;
  --font-type-a: 'Kalam';
  --font-type-b: 'Noto Sans KR';

  --desktop-font-heading: 4rem;
  --desktop-font-subheader: 2.5rem;
  --desktop-font-paragraph: 2rem;

  --mobile-font-header: 2rem;
  --mobile-font-subheader: 1.5rem;
  --mobile-font-paragraph: 1.2rem;

  --margin-horizontal-mobile: 2rem;
  --content-margin-bottom-mobile: 1rem;
  --section-margin-bottom-mobile: 2rem;
  --content-border-color: 1px solid rgba(0, 0, 0, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--color-brand-primary);
  font-family: var(--font-type-b), sans-serif;
}
/* --------------------------------- */
.main-container {
  display: flex;
  flex-direction: column;
}
/* --------------------------------- */
.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--color-brand-primary);
  min-height: 100vh;
  padding: var(--margin-horizontal-mobile);
}

.landing-container h1 {
  font-size: 7rem;
  color: var(--color-brand-tertiary);
  font-family: var(--font-type-a), sans-serif;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
  line-height: 6rem;
}
.landing-container h1:nth-child(2){
  color: var(--color-brand-secondary);
  font-size: 7rem;
}

.landing-container h2 {
  font-family: var(--font-type-b), sans-serif;
  font-size: var(--mobile-font-subheader);
  color: #1F1C33;
  font-weight: 800;
  width: 100%;
}

.content-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* --------------------------------- */
.card {
  background-color: var(--color-brand-tertiary);
  margin: 1rem;
  align-self: center;
  padding: 1.5rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.card h1 {
  font-family: var(--font-type-b), sans-serif;
  color: var(--color-brand-secondary);
  font-size: var(--mobile-font-header);
  margin-bottom: var(--content-margin-bottom-mobile);
}

.card h2 {
  font-size: 1rem;
  font-family: var(--font-type-b), sans-serif;
  font-weight: 400;
}

.card p {
  font-family: var(--font-type-b), sans-serif;
  margin: var(--section-margin-bottom-mobile) var(--margin-horizontal-mobile);
  font-size: var(--mobile-font-paragraph);
  text-align: left;
}

.card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border: var(--content-border-color);
  border-radius: 10px;
}

.card ul {
  list-style: none;
  padding: 0;
}

.card button {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  font-family: var(--font-type-b), sans-serif;
  color: blue;
  cursor: pointer;
}

.card button:active {
  color: var(--color-brand-secondary);
}

.card button:focus {
  color: aqua;
}
/* --------------------------------- */
#giving-back-links{
  margin-top: var(--content-margin-bottom-mobile);
}
#giving-back-links a{
  font-size: 1.2rem;
}
/* --------------------------------- */
iframe {
  width: 90%;
  height: 25vh;
  border: var(--content-border-color);
}
/* --------------------------------- */
#news-card{
  display: block;
  text-align: center;
}
#news-links{
  list-style: square;
  text-align: left;
  margin-left: var(--margin-horizontal-mobile);
}
#news-links button{
  font-size: 1.2rem;
}
/* --------------------------------- */
#popup-card-article {
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  padding: var(--margin-horizontal-mobile);
}
#popup-head{
  width: 100%;
}
#close-article-button {
  font-size: 2rem;
  color: black;
  background-color: transparent;
  font-weight: 900;
  margin-left: -1rem;
  margin-top: -1rem;
  border: none;
  cursor: pointer;
}

#article-container {
  color: black;
  width: 100%;
  margin-top: 1rem;
  font-family: var(--font-type-b), sans-serif;
  text-align: left;
}
#article-title {
  font-size: 2.5rem;
}
#author{
  font-size: 2rem;
}
#date{
  font-size: var(--mobile-font-subheader);
  color: rgba(1,1,1,0.6);
  font-style: italic;
  margin-bottom: var(--content-margin-bottom-mobile);
}
#content{
  font-size: 1.6rem;
}
/* --------------------------------- */
#contact-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  font-size: 1rem;
}

#name, #email, #comment  {
  width: 100%;
  padding: 0.4rem;
  margin-bottom: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

#contact-form button{
  border: 1px solid black;
  color: var(--color-brand-secondary);
  background-color: var(--color-brand-primary);
  padding: 0.5rem 1rem;
  font-family: var(--font-type-b), sans-serif;
  font-size: 1rem;
  border-radius: 4px;
  width: 100%;
  max-width: 200px;
}
/* --------------------------------- */
@media (min-width: 768px) {
  
  .landing-container h1 {
    font-size: 15rem;
    line-height: 13rem;
  }
  .landing-container h1:nth-child(2){
    font-size: 20rem;
  }
  
  .landing-container h2 {
    font-size: 3rem;
  }
  /* --------------------------------- */
  .card {
    width: 60vw;
  }
  
  .card h1 {
    font-size: var(--desktop-font-heading);
  }
  
  .card h2 {
    font-size: var(--desktop-font-subheader);
  }
  
  .card p {
    font-size: var(--desktop-font-paragraph);
  }
  
  .card img {
    height: 70vh;
  }
  
  .card ul {

  }
  
  .card button {

  }
  
  .card button:active {
  }
  
  .card button:focus {
  }
  /* --------------------------------- */
  #giving-back-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  #giving-back-links a{
    font-size: var(--desktop-font-paragraph);

    font-size: 3rem;
    text-decoration: none;
  }
  /* --------------------------------- */
  iframe {
    height: 60vh;
  }
  /* --------------------------------- */
  #news-card{

  }
  #news-links{
    font-size: var();

  }
  #news-links button{
    font-size: var(--desktop-font-subheader);
    }
  /* --------------------------------- */
  #popup-card-article {

  }
  #popup-head{
  }
  #close-article-button {

  }
  
  #article-container {
  }
  #article-title {
  }
  #author{
  }
  #date{
  }
  #content{
  }
  /* --------------------------------- */
  #contact-form {
  }
  
  #name, #email, #comment  {
    height: auto;
    width: 30vw;
    font-size: 1rem;
  }
  
  #contact-form button{

  }

}